.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px #000 solid;
}

.nav-burger {
  display: flex;
  justify-content: space-between;
}

.nav-image {
  text-align: right;
}

.nav-image img {
  width: 40px;
  padding: 20px;
}

.continent-map {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  border-bottom: 1px solid #000;
}

.continent-map img {
  width: 300px;
}

.continent-map h1 {
  padding-top: 50px;
}
