.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px #000 solid;
}

.nav-burger {
  display: flex;
  justify-content: space-between;
}

.nav-image {
  text-align: right;
}

.nav-image img {
  width: 40px;
  padding: 20px;
}
